figure.wp-block-gallery {


  &.columns-6 {
    .blocks-gallery-grid {
      margin: unset !important;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: baseline;

      .blocks-gallery-item {
        margin: 10px;

        figure {
          img {
            /* max-width: 16vw; */
          }
        }
      }
    }

    &.is-cropped {
      li {
        object-fit: cover;
        height: 16vw;
        width: 16vw;

        figure {
          object-fit: cover;
          height: 100%;
          width: 100%;

          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}